<div class="station" onclick={{action onChooseStation station}}>
  <div class="station-image">
    <i class="icon-music"></i>
  </div>
  <div class="station-details">
    <span class="station-title">{{station.name}}</span>
    <p class="station-description">{{station.description}}</p>
    <p class="station-genre">{{station.genre}}</p>
  </div>
</div>