/*
  Base rules are the defaults. They are almost exclusively single element selectors but
  it could include attribute selectors, pseudo-class selectors, child selectors or
  sibling selectors.
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: color($primary, '200');
  box-sizing: border-box;
  color: color($foreground-dark, '1');
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

[data-ember-action], a, button, input, .link {
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 4rem;
}

.hide {
  display: none;
  visibility: hidden;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}