.app-container {
  overflow: hidden;
  position: relative;
}

.content-container {
  overflow-y: auto;
}

.content-container,
.content-container-inner {
  position: relative;
}

.main-container {
  position: relative;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }
}
