@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font: {
    family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  background-color: #fafafa;
  padding-top: 60px;
}