@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font: {
    family: $font-stack;
  }

  background-color: $off-white;
  padding-top: $size-60;
}

.text-center {
  text-align: center;
}