<button type="button" class="btn btn-secondary btn-block" {{action this.attrs.updateTrackList}}>
  <i class="fa fa-refresh"></i> Update Playlist
</button>

<div class="list-group">
  {{#each trackList as |track|}}
    <div class="list-group-item">
      <h4 class="list-group-item-heading">{{track.artist}}</h4>
      <p class="list-group-item-text">{{track.title}}</p>
    </div>
  {{/each}}
</div>