.audio-player {
  background-color: #fff;
  position: absolute;

  &.mini {
    background: #f9f9f9;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e0e0e3;
    position: fixed;
  }

  &.full {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background: #fff;
    position: fixed;
  }

  .mini-player {
    display: flex;
    padding: 0.5rem 0 0.5rem 1rem;
    align-items: center;

    .mini-player-actions {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }

    .mini-player-toggle,
    .mini-player-play-toggle {
      i {
        font-size: 2rem;
      }
    }

    .mini-player-station-image {
      background: rgba(0, 0, 0, 0.25);
      border-radius: 0.25rem;
      flex-shrink: 0;
      height: 2.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
    }

    .mini-player-station-name {
      margin-right: 1rem;
    }
  }

  .full-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .full-player-station-name {
      border-bottom: 1px solid #e0e0e3;
      padding-bottom: 1rem;
      width: 100%;
      text-align: center;
    }

    .full-player-play-toggle {
      font-size: 12rem;
    }

    .full-player-station-details {
      border-top: 1px solid #e0e0e3;
      padding: 1rem 0;
      text-align: center;
    }

    .full-player-volume-controls {
      display: none;
    }

    .full-player-toggle {
      font-size: 2rem;
    }
  }
}