.audio-player {
  button {
    &.control {
      background-color: transparent;
      border: none;
      color: white;
      margin: 0 1%;
      font-size: $size-20;
      vertical-align: middle;
    }
  }

  .audio-player-controls {
    background-color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: $size-4;
    border-bottom-right-radius: $size-4;
    color: $white;
    min-height: $size-40;
    padding: 10px 5px;
    width: 100%;
    z-index: 1000;

    input[type=range] {
      border: none;
      border-radius: 2px;
      cursor: pointer;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 75%;
      z-index: 3;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .audio-player-play-toggle {
    text-align: center;
  }

  .audio-player-volume-controls {
    margin-top: 1em;

    input[type=range] {
      display: none;
    }

    .mute {
      display: none;
      width: $size-28;
    }
  }

  .card-img-top {
    background-color: transparent;
    display: table;
    height: 250px;
    text-align: center;
    width: 100%;

    i {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .station-details {
    text-align: center;
  }
}