.focused label.floating {
  color: color($primary, '500');
  -webkit-transform: translate3d(0, 16px, 0) scale(0.75);
  transform: translate3d(0, 16px, 0) scale(0.75);
}

label {
  &.floating {
    color: color($primary, '200');
    font-weight: 600;

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 2px;
    z-index: 1;
    -webkit-transform: translate3d(10px, 38px, 0) scale(1);
    transform: translate3d(10px, 38px, 0) scale(1);
    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
