.global-nav {
  background-color: color($primary, '100');
  display: flex;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.nav-sheet-active {
    flex-direction: column;
    height: 100vh;

    nav {
      display: flex;
      flex-direction: column;
      
      a {
        border-bottom: 1px solid color($primary, '400');
        color: color($accent, '600');
        font-size: 2rem;
        padding: 1rem 1rem 1rem 0;
        text-decoration: none;

        &.active {
          color: color($foreground-dark, '1');
        }
      }
    }

    .nav-toggle {
      align-self: flex-start;
    }
  }

  nav {
    display: none;
  }

  .nav-toggle {
    font-size: 2rem;

    i::before {
      margin: 0;
    }
  }
}

