.global-nav {
  background-color: #f9f9f9;
  display: flex;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
  z-index: 1;

  &.nav-sheet-active {
    flex-direction: column;
    height: 100vh;

    nav {
      display: flex;
      flex-direction: column;
      
      a {
        border-bottom: 1px solid #d6d6d6;
        color: #1d84fb;
        font-size: 2rem;
        padding: 1rem 1rem 1rem 0;
        text-decoration: none;

        &.active {
          color: #333;
        }
      }
    }

    .nav-toggle {
      align-self: flex-start;
    }
  }

  nav {
    display: none;
  }

  .nav-toggle {
    font-size: 2rem;

    i::before {
      margin: 0;
    }
  }
}

