.grouped-table-row {
  border-bottom: 1px solid #e0e0e3;
  margin-left: 1rem;
  padding: 0.5rem 0;

  &:last-of-type {
    border-bottom: none;
  }

  &.selected {
    background-color: #4ba2ff;
  }
}