.grouped-table {
  margin: 1.5rem 0;

  .grouped-table-body {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e3;
    border-top: 1px solid #e0e0e3;
  }

  .grouped-table-title {
    color: #77777c;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 0.5rem 1rem;
  }
}