.main-nav {
  background-color: $lighter-gray;
  border-bottom: 1px solid $medium-gray;
  left: 0;
  letter-spacing: .15em;
  min-height: $size-50;
  margin-bottom: 0;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 1000;

  &:first-child {
    margin: 0 auto;
    padding: 0 1em;
  }

  &.open {
    bottom: 0;
  }

  .brand {
    color: $dark-gray;
    height: $size-50;
    line-height: $size-50;
    margin-left: $size-10;
    padding: 0 $size-10;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .nav {
    margin-left: -$size-10;

    li {
      display: block;
      position: relative;

      a {
        color: $gray;
        display: block;
        padding: 14px 15px;
        position: relative;
      }
    }
  }

  .nav-controls {
    float: left;
    height: $size-50;
    left: -7.5rem;
    line-height: $size-50;
    padding: 0 $size-10;
    position: absolute;

    &.hide {
      left: -120px;
      transition: 0.2s;
    }

    &.show {
      left: 0;
      transition: 0.2s;
    }

    a, a:hover {
      text-decoration: none;
    }

    .nav-back-button {
      text-transform: none;
    }
  }

  .pv {
    margin-right: -$size-10;
    margin-left: -$size-10;
  }

  .sm-nav-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    border-color: transparent;
    float: right;
    margin: 7px 10px 8px 0;
    padding: 9px 0;
    position: relative;

    &:focus {
      background-color: transparent;
      outline: 0;
    }

    span:not(.sr-only) {
      background-color: $light-gray;
      display: block;
      width: $size-22;
      height: 2px;
      border-radius: 1px;

      & + span {
        margin-top: 4px;
      }
    }
  }

  .panel[aria-expanded="true"] {
    display: block;
    height: auto;
    position: absolute;
    top: 3rem;
    width: 100%;

    &:after {
      height: 100vh;
    }
  }

  .panel:after {
    height: 50px;
  }

  form[role="search"] {
    float: right;
    margin-top: $size-10;
  }

  @media (min-width: 48rem) {
    .container {
      padding-left: $size-15;
      padding-right: $size-15;
    }

    .nav {
      float: right;
      margin: 0 -10px 0 0;

      li {
        float: left;
      }
    }

    .panel {
      border-top: 0;
      display: block;
      overflow: visible;
      padding-bottom: 0;
      width: auto;
    }

    .sm-nav-toggle {
      display: none;
    }
  }
}