.sign-in {
  background-color: $off-white;
  border: 1px $medium-gray solid;
  border-radius: $size-4;
  margin: 1rem auto 0;
  max-width: 20rem;
  padding: 1rem;

  button[type="submit"] {
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0;
  }

  legend {
    font-weight: bold;
  }
}