.site-head {
  align-items: center;
  background: color($primary);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;

  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;

  .navigation-drawer-toggle {
    background: transparent center center no-repeat;
    color: $white;
    cursor: pointer;
    border: 0;
    display: block;
    left: 0.75rem;
    margin-right: 1.875rem;
    overflow: hidden;
    width: 3rem;
    z-index: 2;
  }

  .primary {
    display: flex;
    align-items: center;
    button {
      &:focus, &:hover {
        i {
          color: darken($white, 15%);
        }
      }
    }
  }

  .secondary {
    padding-right: 15px;
    color: $white;
    .profile-drop {
      cursor: pointer;

      img {
        border: 2px solid #eeeeee;
        border-radius: 100%;
        display: inline-block;
        height: 2rem;
        margin-top: 0.125rem;
        width: 2rem;
      }

      .dropdown-menu {
        margin-top: 1rem;
      }
    }

    a {
      text-decoration: none;
    }
    .dropdown {
      i:first-child {
        color: $white;
      }
      a {
        &:focus, &:hover {
          i:first-child {
            color: darken($white, 15%);
          }
        }
      }
      .dropdown-item {
        color: color($primary, '800');
        i {
          color: color($primary, '800');
        }
      }
    }
    .tag.tag-header {
      background-color: color($accent, '400');
      color: color($primary, '800');
      font-size: .8em;
    }
    .icon {
      color: $white;
    }
  }

  &.fixed-header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
  }

  .action-bar {
    margin-top: 1.2em;
    margin-right: 0.5em;
    a {
      &:focus, &:hover {
        .icon {
          color: darken($white, 15%);
        }
        .tag-header {
          background-color: darken(color($accent, '400'), 15%);
        }
      }
      margin-right: 1em;
    }
  }

  .site-heading {
    color: $white;
    a {
      &:focus, &:hover {
        color: darken($white, 15%);
        .icon {
          color: darken($white, 15%);
        }
      }
    }
  }
}
