.station-search {
  background: #efeff4;

  .station-search-box {
    background: #f9f9f9;
    padding: 0.5rem 1rem;

    input {
      width: 100%;
      border-radius: 4px;
      font-size: 1rem;

      &::-webkit-input-placeholder {
        text-align: center;
      }

      &::-moz-placeholder {
        text-align: center;  
      }

      &:-ms-input-placeholder {  
        text-align: center; 
      }
    }
  }

  .station-search-hint {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .loading-results {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .no-results-message {
    padding: 0.5rem 1rem;
    text-align: center;
  }
}