.table-view {
  margin: 1rem 0;

  .table-view-body {
    background-color: $white;
    border-bottom: 1px solid color($primary, '300');
    border-top: 1px solid color($primary, '300');
  }

  .table-view-group-container {
    margin-top: 1rem;
  }
}