.table-view-row {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 2.625rem;

  &:last-of-type {
    .row-content {
      border-bottom: none;  
    }
  }

  &.editing {
    pointer-events: none;

    .remove {
      background: none;
      border: none;
      pointer-events: all;
      flex-shrink: 0;
      height: 2.5rem;
      margin-right: 1rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      
      i {
        font-size: 1.5rem;
        color: #FF3824;
      }
    }
  }

  .image-placeholder {
    background: #8E8E93;
    border-radius: 0.25rem;
    flex-shrink: 0;
    height: 2.5rem;
    margin-right: 1rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e3;
    flex-grow: 2;
    padding: 0.125rem 0.5rem 0.125rem 0;

    .group {
      padding: 0.25rem 0;
    }

    .sub-title {
      color: #8E8E93;
      font-size: 0.875rem;
    }

    .title,
    .sub-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 13rem;
    }
  }
}