.table-view-title {
  h1 {
    color: color($primary, '600');
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 0.5rem 1rem;
  }
}