<div class="primary">
  {{! Navigation toggle. }}
  <nav>
    <button class="navigation-drawer-toggle" role="tab" aria-expanded="false" {{action "onToggleNavigationDrawer"}}>
      <i class="fa fa-bars fa-1-5" aria-hidden="true" title="Show"></i>
    </button>
  </nav>
</div>
<div class="secondary">
  <h1 class="h4">{{currentRoute.name}}</h1>
</div>