<div class="primary">
  {{! Navigation toggle. }}
  <nav>
    <button class="navigation-drawer-toggle" role="tab" aria-expanded="false" {{action "onToggleNavigationDrawer"}}>
      <i class="fa fa-bars fa-1-5" aria-hidden="true" title="Show"></i>
    </button>
  </nav>
</div>
<div class="h1 site-heading hidden-sm-down">
  {{#link-to "stations" class="no-underline site-heading"}}
    <i aria-hidden="true" class="fa fa-bullhorn fa-2"></i>
    Transmitr
  {{/link-to}}
</div>