<form {{action 'searchStation' on=submit}}>
  <fieldset class="form-group" disabled>
    <label for="searchStation" class="sr-only">Search for a station</label>
    <input type="text" class="form-control" id="searchStation" placeholder="Search for station">
  </fieldset>
</form>