// Move this to it's own layout file?
.group {
  margin-top: 0.5rem;

  h1 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}