<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Stations</h4>
  </div>
  {{#each stations as |station|}}
    {{#link-to "stations.station" station.id class="list-group-item"}}
      <i class="fa fa-youtube-play"></i>
      <span class="station-name">{{station.name}}</span>
    {{/link-to}}
  {{/each}}
</div>

<div class="station-list-controls">
  {{#link-to "stations.add" class="btn btn-secondary btn-block"}}
    <i class="fa fa-plus"></i> Add Station
  {{/link-to}}
</div>
