<div class="site-logo">
  <i class="fa fa-bullhorn fa-2" aria-hidden="true"></i>
  <span class="h4">Transmitr</span>
</div>

<nav class="navigation">
  {{#each navigationItems as |navItem|}}
    {{#link-to navItem.route click=(action 'onNavigate')}}
      <i class="fa {{navItem.icon}} fa-1-5" aria-hidden="true" role="presentation"></i>
      <span class="text">{{navItem.name}}</span>
    {{/link-to}}
  {{/each}}

  <div class="dropdown-divider"></div>

  {{! About. }}
  {{#link-to 'about' click=(action 'onNavigate')}}
    <i class="fa fa-code fa-1-5" aria-hidden="true"></i>
    <span class="text">About</span>
  {{/link-to}}
</nav>