{{navigation-bar 
  isEditing=isEditing
  onToggleEdit=(action "onToggleEdit")
}}

<main>
  {{liquid-outlet}}

  {{#if currentlyPlayingStation}}
    {{audio-player station=currentlyPlayingStation}}
  {{/if}}
</main>
